nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

nav #title {
  font-family: 'Bungee', cursive, sans-serif;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav button {
  cursor: pointer;
  width: 45px;
}

nav button:hover {
  transform: translateY(4px) scale(1.2);
}

nav i {
  color: red
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}