article {
  border: 3px solid #56565f;
  padding: 0.7em 0.5em;
  margin-bottom: 1em;
}

article:hover {
  box-shadow: 6px 6px #4057a14e;
}

article header,
article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3em;

}

article p {
  border-bottom: 3px solid #56565f;
  padding: 1.3em 0.5em;
  margin: 0.5em 0;
  font-size: 22px;
}

article div {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
}

article img {
  width: 40px;
}

.handle {
  color: #a1a1aa;
}

article footer {
  font-size: 14px;
  padding: 0 0.5em;
}

article i {
  padding: 0 2px;
  color: #4056A1;
}

article i:hover {
  color: #d19808;
  cursor: pointer
}